header {
  height: auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0px;
  background-color: rgb(213, 226, 236);
  /* border-bottom: solid; */
  border-width: 1px;
  position: fixed;
  box-shadow: 0 4px 6px -6px #222;
}

.nav-bar {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 20px;
  }
  
  .nav {
    display: flex;
    margin: 5px;
    background-color: rgb(213, 226, 236);
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    width: 150px;
    height: 100%;
    padding: 0px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .nav a {
    align-items: center;
  }

  .nav:hover {
    background-color: rgb(130, 194, 243);
    color: white;
    font-weight: bold;
    border-color: white;
    border-width: 1px;
  }
  
  .search-section {
    display: flex;
    align-items: center;
    text-align: center;
  }
  
  .search-input {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    width: 300px;
  }

  .search-button {
    margin: 10px;
    border-radius: 10px;
    height: 30px;
    width: auto;
  }