.card {
    display: flex;
    margin: 5px;
    width: 1000px;
    height:fit-content;
    background-color: rgb(213, 226, 236);
    /* color: white; */
    border-style: solid;
    border-color: rgb(133, 131, 131);
    border-width: 2px;
  }