main{
  padding-top: 85px;
  background-color: rgb(213, 226, 236);
}

.border {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50px;
  text-align: center;
  height: max-content;
  padding: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.counter-container {
  background-color: rgb(192, 217, 236);
}

.counter p {
  width: 50px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.counter button {
  display: flex;
  padding: 2px;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-style: none;
}

.up-vote-number {
  color: #34a52a;
}

.no-vote-number {
  color: white;
}

.down-vote-number {
  color: #db3333;
}
  
.post-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
  text-align: left;
  width: 92%;
  height: 100%;
}
  
.post-content-username {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: fit-content;
  font-size: 12px;
}

.post-content-username p {
  margin: 0;
}

.post-inner-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 80%;
}

.post-title {
  font-weight: bold;
  font-size: 20px;
}

.post-text-content {
  font-size: 18px;
}

.post-comments {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 10%;
}

.post-comments-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(192, 217, 236);
  font-size: 15px;
  padding: 5px;
  margin-top: 15px;
  width: max-content;
}

.post-comments-button:hover {
  background-color: rgb(192, 217, 236);
  color: white;
  width: max-content;
  font-weight: bold;
  border-width: 1px;
  border-color: #333;
}

.comment-icon {
  padding-right: 5px;
}

.up-arrow-vote {
  color: #34a52a;
}

.down-arrow-vote {
  color: #db3333;
}